@page
@model Gestor.Pages.Patron.IndexModel

@{
    ViewData["Title"] = "Patrones";
}
<div class="box-info">
    <div class="head-bar">
        <label class="title-primary white-label text-uppercase">Patrones</label>
    </div>
    <div class="body-content">
        @if(Model.Producto.Any()){
            <div class="row">
                @foreach (var producto in Model.Producto)
                {
                    <div class="col-xl-4 col-lg-6 col-md-12 p-0">
                        <div class="patrones-square d-flex justify-content-center  text-center position-relative">
                            <div class="patron-square-img text-center box-shadow">
                                <a class="btn btn-sm btn-secondary btn-patrones" asp-page="./NuevoPatron" asp-route-idProducto="@producto.Id">Agregar patron</a>
                                <a asp-page="./NuevoPatron" asp-route-idProducto="@producto.Id">
                                    <img src="@(producto.imgPrincipal != null ? producto.imgPrincipal :  "./img/agregar_img.jpg")" class="img-portada" alt="Productos">
                                </a>
                                <div class="box-img-text text-center">
                                    <label class="title-primary me-3">@producto.Nombre</label>
                                    <span>@producto.Tamanio CM</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="text-center p-5">
                <h3 class="text-muted">No hay productos para asignar un patron... :(</h3>
            </div>
        }
    </div> 
</div>
