@page "{idProducto:int}"
@model Gestor.Pages.Patron.NuevoPatronModel
@Html.AntiForgeryToken()
@using PatronModel = Gestor.Modelos.Patron;
@using Tipo_PuntoModel = Gestor.Modelos.Tipo_punto;

@{
    var producto = Model.Producto;
    var patrones = Model.Patron;
    var context = Model.Context;
}

<div class="position-relative p-5">
    <div class="title-producto-patron">
        <h1 class="text-uppercase mb-5">@producto.Nombre</h1>
    </div>
    <div class="carrusel">
        <div class="patron-img-producto float-end">
            @if(producto.imgPrincipal != null){
                <img src="@Url.Content('\\'+producto.imgPrincipal)"class="img-patron-detalle" alt="producto_principal" />
            }
        </div>
    </div>
    <div id="new-boxes-patron">
        @if(patrones != null && patrones.Any())
        {
            @foreach (PatronModel patron in patrones)
            {
                <div class="box-patron">
                    <div class="header-patron">
                        <label class="title-patron bold">@patron.parte</label>
                        <div class="btn-plus" id="btn-plus-1">
                            <i class="fa-solid fa-cloud"></i>
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </div>
                    @if (patron.getListaTipoPuntoByPatron() != null)
                    {
                        @foreach (Tipo_PuntoModel tp in patron.getListaTipoPuntoByPatron())
                        {
                            <div id="vueltas-nro" class="vuelta-nro-@tp.vuelta position-relative my-3">
                                <div class="vueltas">
                                    <label class="control-label" style="color:@tp.color">V @tp.vuelta:</label>
                                </div>
                                <div class="d-flex flex-column punto-cantidad">
                                    <label class="control-control" style="color:@tp.color">@tp.nombre</label>
                                </div>
                            </div>
                        }
                    }
                    <div id="vueltas-nro" class="vuelta-nro-1 position-relative my-3">
                        <div class="vueltas">
                            <label class="control-label" id="vuelta-1">V1:</label>
                        </div>
                        <div class="d-flex flex-column punto-cantidad">
                            <input type="text" class="form-control" id="TpCantidad-1" placeholder="ej: 4 pb" />
                        </div>
                        <input type="text" id="color-1">
                    </div>
                    <div class="text-end">
                        <button type="button" class="btn btn-primary btn-vuelta-agregar">Agregar vuelta</button>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="box-patron">
                <div class="header-patron">
                    <input class="title-patron bold" id="parte-1" value="Parte" />
                    <div class="btn-plus" id="btn-plus-1">
                        <i class="fa-solid fa-cloud"></i>
                        <i class="fa-solid fa-plus"></i>
                    </div>
                </div>
                <div id="vueltas-nro" class="vuelta-nro-1 position-relative my-3">
                    <div class="vueltas">
                        <label class="control-label" id="vuelta-1">V1:</label>
                    </div>
                    <div class="d-flex flex-column punto-cantidad">
                        <input type="text" class="form-control" id="TpCantidad-1" placeholder="ej: 4 pb" />
                    </div>
                    <input type="text" id="color-1">
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-primary btn-vuelta-agregar">Agregar vuelta</button>
                </div>
                <form method="post" id="formulario-patron">
                    <input type="hidden" name="Color" value="" />
                    <input type="hidden" name="Parte" value="" />
                    <input type="hidden" name="Vuelta" value="" />
                    <input type="hidden" name="TipoPunto" value="" />
                    <input type="hidden" name="idProducto" value="@producto.Id" />
                </form>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Editar Patron</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                
            </div>
        </div>
    </div>
</div>

<style>
    .sp-replacer {
        border: none; 
        background: unset;
    }

    .sp-dd{
        display:none;
    }

    .sp-preview{
        width:30px;
        height:30px;
        margin-left: 1rem;
        border-radius: 50%;
    }

    .sp-preview-inner{
        border-radius: 50%;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.1/spectrum.min.js"></script>
<script>
    var contPartes = 1;

    $(document).on('click', '[id^="btn-plus-"]', function(){
        contPartes++;
        var nuevoPartePatron = $('.box-patron').first().clone();

        nuevoPartePatron.find("input").val("");

        nuevoPartePatron.find("#parte-1")
            .attr("id", "parte-" + contPartes)
            .val("Parte");

        nuevoPartePatron.find("#btn-plus-1")
            .attr("id", "btn-plus-" + contPartes);

        nuevoPartePatron.find("#vueltas-nro")
            .attr("class", "vuelta-nro-" + contPartes+" position-relative my-3");

        nuevoPartePatron.find("#TpCantidad-1")
            .attr("id", "TpCantidad-" + contPartes);

        nuevoPartePatron.find("#puntos-cantidad-1")
            .attr("id", "puntos-cantidad-" + contPartes)
            .empty();

        $('#new-boxes-patron').append(nuevoPartePatron);
    });

    $('.btn-vuelta-agregar').on('click',function(){
        var boxPatron = $(this).closest('.box-patron');

        var parteValue = boxPatron.find('[id^="parte-"]').val();
        var vueltaValue = boxPatron.find('[id^="vuelta-"]').text().replace('V', '').replace(':', '');
        var tipoPuntoValue = boxPatron.find('[id^="TpCantidad"]').val();
        var colorValue = boxPatron.find('[id^="color-"]').val();
        $('#formulario-patron input[name="Parte"]').val(parteValue);
        $('#formulario-patron input[name="Vuelta"]').val(vueltaValue);
        $('#formulario-patron input[name="TipoPunto"]').val(tipoPuntoValue);
        $('#formulario-patron input[name="Color"]').val(colorValue);
        $('#formulario-patron').submit();

    });

    $(document).on('click', '.btn-vuelta-agregar', function() {
        var boxPatron = $(this).closest('.box-patron');
        var vueltaLabel = boxPatron.find('[id^="vuelta-"]');
        var currentVuelta = parseInt(vueltaLabel.text().replace('V', '').replace(':', ''));
        vueltaLabel.text('V' + (currentVuelta + 1) + ':');
    });
    
    $("#color-"+contPartes).spectrum({
        color: "#000000",
        preferredFormat: "hex",
        showInput: true,
        showPalette: true,
        palette: [ ]
    });
</script>