@page "{idProducto:int}"
@model Gestor.Pages.Patron.NuevoPatronModel
@Html.AntiForgeryToken()

@{
    var producto = Model.Producto;
}

<div class="">
    <h1>@producto.Nombre</h1>
    <div>
        <form method="post">
            <input type="hidden" name="idProducto" value="@producto.Id"/>
            <div class="form-group">
                <label class="control-label">Vuelta</label>
                <input name="Vuelta" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Parte</label>
                <input name="Parte" class="form-control" />
            </div>
            <div class="text-end add-btn">
                <button type="button" class="btn btn-primary" id="agregarPunto">Agregar</button>
            </div>
            <div class="form-group row" id="tipo-precio-cantidad">
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <label class="control-label">Tipo de punto</label>
                    <select class="form-control" id="select-1">
                        <option value="">Seleccione un tipo de punto</option>

                        @foreach (var tp in Model.Tipo_punto)
                        {
                            <option value="@tp.id">@tp.nombre @tp.descripcion</option>
                        }
                    </select>
                </div>     
                <div class="col-xl-1 col-lg-1 col-md-6">
                    <label class="control-label">Cantidad</label>
                    <input type="number" class="form-control" id="cantidad-1" min="1" value="0" />
                </div>
            </div>
            <div id="puntos-cantidad-row"></div>
            <div class="form-group">
                <label class="control-label">Repeticiones</label>
                <input name="Repeticiones" class="form-control" />
            </div>
            <input type="hidden" name="idListaTPCantidad" id="idListaTPCantidad" value="" />
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
</div>

@if (Model.Patron != null && Model.Patron.Any())
{
    foreach (var patron in Model.Patron)
    {
        <div id="patron-@patron.Id" class="patron-box">
            <div class="vuelta-info">
                <label class="patron-vuelta title-text">Vuelta @patron.vuelta</label>
            </div>
            <label class="patron-partes">@patron.parte</label>
            @foreach(var tp in Model.Tipo_punto)
            {
                @if(tp.id.ToString().Equals(patron.punto))
                {
                    <label>@tp.nombre</label>
                }
            }
            <label class="patron-cantidad">@patron.cantidad</label>
            <label class="patron-rep">@patron.repeticiones Repeticiones</label>
            <div class="d-flex" id="patron-@patron.Id">
                <div class="edit-patron" data-bs-toggle="modal" data-bs-target="#formModal" style="cursor:pointer">
                    <i class="fa-solid fa-pen-to-square"></i>
                </div>
                <div class="delete-patron" data-id="@patron.Id" style="cursor:pointer">
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </div>
        </div>
    }
}

<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Editar Patron</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>

    var cont = 1;
    $('#agregarPunto').click(function(){
        cont++;

        const tpCantidad = $('#tipo-precio-cantidad').clone();
        tpCantidad.attr('id', `formulario-${cont}`);

        tpCantidad.find('.add-btn').remove();
        tpCantidad.prepend(`
            <div class="text-end remove-btn">
                <i class="fa-solid fa-trash-can eliminar-punto"></i>
            </div>
        `);
        tpCantidad.find('select').attr('id', `select-${cont}`);
        tpCantidad.find('input').attr('id', `cantidad-${cont}`);

        tpCantidad.find('input').val('');
        tpCantidad.find('select').prop('selectedIndex', 0);

        $('#puntos-cantidad-row').append(tpCantidad);
    });

    $('#puntos-cantidad-row').on('click', '.eliminar-punto', function () {
        const formulario = $(this).closest('.form-group');    
        var idFormulario = formulario.attr('id').split('-');
        var id = idFormulario[1];
        delete listaTPCantidad[id];

        var inputListaTPCantidad = Object.entries(listaTPCantidad).map(function ([key,value]){
            return value.TipoPunto +"-"+value.Cantidad;
        }).join(';');
        formulario.remove();

        $('#idListaTPCantidad').val(inputListaTPCantidad);

       console.log($('#idListaTPCantidad').val());
    });

    let listaTPCantidad = {};
    var tipoPunto;
    var cantidad;

    var cantidadId;
    var selectId;
    var selectedValue;
    var cantidadValue;

    $(document).on('change', 'select[id^="select-"], input[id^="cantidad-"]', function() {
        var idParts = $(this).attr('id').split('-');
        var index = idParts[1];

        actualizarLista(index);
    });

    function actualizarLista(index){
        listaTPCantidad[index] = {
           TipoPunto: $('#select-' + index).val(),
           Cantidad: $('#cantidad-' + index).val()
        };

        var inputListaTPCantidad = Object.entries(listaTPCantidad).map(function ([key,value]){
            return value.TipoPunto +"-"+value.Cantidad;
        }).join(';');

       $('#idListaTPCantidad').val(inputListaTPCantidad);

       console.log($('#idListaTPCantidad').val());
    }

    $(document).on('click', '.delete-patron', function () {
        const idPatron = $(this).data('id');
        const token = $('input[name="__RequestVerificationToken"]').val();

        $.ajax({
            url: '/Patron/BorrarPatron/EliminarPatron',
            type: "POST",
            headers: {
                "RequestVerificationToken": token
            },
            contentType: "application/json",
            data: JSON.stringify({ idPatron: idPatron }),
            success: function (response) {
                if(response){
                    alert(response.message);
                    $(`#patron-${idPatron}`).remove();
                }else{     
                    alert(response.message);
                }
            },
            error: function (xhr, status, error) {
                console.error("Error details:", xhr.responseText);
                alert("Ocurrió un error al intentar eliminar el patrón.");
            }
        });
    });
</script>