@page
@model Gestor.Pages.CostoMaterial.IndexModel
@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "Costos materiales";
}
<div class="box-info pt-3">
    <div class="d-flex justify-content-between">
        <h3 class="title-primary text-uppercase">Costos materiales</h3>
        <button type="button" class="btn btn-primary box-shadow" data-bs-toggle="modal" data-bs-target="#formModal">
            Agregar
        </button>
    </div>
        
    @if (Model.CostoMaterial != null && Model.CostoMaterial.Any())
    {
        <div class="overflow-auto box-shadow mt-5">
            <table class="table table-bordered table-hover tabla-materiales mb-0">
                <thead class="text-center">
                    <tr>
                        <th>
                            Lugar de Compra
                        </th>
                        <th>
                            Tipo de Material
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Valor
                        </th>
                        <th>
                            Acción
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var costoMaterial in Model.CostoMaterial)
                    {
                        <tr id="costo-@costoMaterial.Id">
                            <td>
                                @costoMaterial.Lugar
                            </td>
                            <td>
                                @costoMaterial.Material
                            </td>
                            <td>
                                @costoMaterial.Cantidad
                            </td>
                            <td>
                                @costoMaterial.Costo
                            </td>
                            <td class="d-flex justify-content-around">
                                <a asp-page="./Edit" asp-route-id="@costoMaterial.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                                <div class="delete-material" data-id="@costoMaterial.Id" style="cursor:pointer">
                                    <i class="fa-solid fa-trash-can"></i>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h3 class="d-flex justify-content-center">No hay datos disponibles...</h3>
    }
</div>

<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="head-bar d-flex justify-content-between">
                <label class="modal-title title-primary white-label" id="formModalLabel">Agregar Costo de Material</label>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label asp-for="NuevoCostoMaterial.Lugar" class="control-label"></label>
                        <input asp-for="NuevoCostoMaterial.Lugar" class="form-control" />
                        <span asp-validation-for="NuevoCostoMaterial.Lugar" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="NuevoCostoMaterial.Material" class="control-label"></label>
                        <input asp-for="NuevoCostoMaterial.Material" class="form-control" />
                        <span asp-validation-for="NuevoCostoMaterial.Material" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="NuevoCostoMaterial.Cantidad" class="control-label"></label>
                        <input asp-for="NuevoCostoMaterial.Cantidad" class="form-control" />
                        <span asp-validation-for="NuevoCostoMaterial.Cantidad" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NuevoCostoMaterial.Costo" class="control-label"></label>
                        <input asp-for="NuevoCostoMaterial.Costo" class="form-control" />
                        <span asp-validation-for="NuevoCostoMaterial.Costo" class="text-danger"></span>
                    </div>
                    <div class="form-group text-end mt-3">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).on('click', '.delete-material', function () {
        const idMaterial = $(this).data('id');
        const token = $('input[name="__RequestVerificationToken"]').val();

        $.ajax({
            url: '/CostoMaterial/BorrarCostoMaterial/EliminarCostoMaterial',
            type: "POST",
            headers: {
                "RequestVerificationToken": token
            },
            contentType: "application/json",
            data: JSON.stringify({ idMaterial: idMaterial }),
            success: function (response) {
                if(response){
                    alert(response.message);
                    $(`#costo-${idMaterial}`).remove();
                }else{
                    alert(response.message);
                }
            },
            error: function (xhr, status, error) {
                console.error("Error details:", xhr.responseText);
                alert("Ocurrió un error al intentar eliminar el material.");
            }
        });
    });
</script>
