@page
@model Gestor.Pages.Ingresos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ingresos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingresos.valor_venta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingresos.valor_venta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingresos.forma_venta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingresos.forma_venta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingresos.valor_hora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingresos.valor_hora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingresos.valor_entrega)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingresos.valor_entrega)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ingresos.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
