@page
@model Gestor.Pages.PaginaIngresos.IndexModel
@using Producto = Gestor.Modelos.Producto;
@{
    ViewData["Title"] = "Ingresos";
    List<string> formaVenta = Model.listaFormaVenta;
    List<Producto> listaProductos = Model.listaProductos;
    int ultimoValorHora = Model.ultimoValorHora;
	int ultimoValorEntrega = Model.ultimoValorEntrega;
}

<div class="ingresos-content">
    <div class="title-box">
        <label class="title-primary text-uppercase">Ingresos</label>
    </div>
    <div class="row">
        <div class="ingresos-variables-box col-xl-6 col-lg-6 col-md-12">
            <form method="post">
                <div class="col-12 row">
                    <div class="col-2">
                        <label class="text-start">
                            Valor Venta :
                        </label>
                    </div>
                    <div class="col-4">
                        <input type="number" name="valorVenta" class="form-control" min="0" />
                    </div>
                </div>
                <div class="col-12 row">
                    <div class="col-2">
                        <label class="text-start">
                            Forma de entrega:
                        </label>
                    </div>
                    <div class="col-4">
                        <select class="form-control" name="formaEntrega">
                            @foreach (var forma in formaVenta)
                            {
                                <option value="@forma">@forma</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-12 row">
                    <div class="col-2">
                        <label class="text-start">
                            Producto vendido:
                        </label>
                    </div>
                    <div class="col-4">
                        <select class="form-control" name="idProducto">
                            <option value="">Seleccione un producto</option>
                            @foreach (var producto in listaProductos)
                            {
                                <option value="@producto.Id">@producto.Nombre @producto.Tamanio CM</option>
                            }
                        </select>
                    </div>
                </div>
                <input type="hidden" name="valorHora" value="@ultimoValorHora" />
                <input type="hidden" name="valorEntrega" value="@ultimoValorEntrega" />

                <button asp-page-handler="GuardarValores" type="submit" class="btn btn-primary">Aceptar</button>
            </form>
        </div>
        <div class="ingresos-fijos-box col-xl-6 col-lg-6 col-md-12">
            <div class="accion-editar text-end">
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#ModalEditar">Editar</a>
            </div>
            <div class="col-12 row">
                <div class="col-2">
                    <label class="text-start">
                        Valor Hora :
                    </label>
                </div>
                <div class="col-4"> 
                    <label>@ultimoValorHora</label>
                </div>
            </div>
            <div class="col-12 row">
                <div class="col-2">
                    <label class="text-start">
                        Valor Entrega :
                    </label>
                </div>
                <div class="col-4">
                    <label>@ultimoValorEntrega</label>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="stadistic-ingresos">
    <div class="box-grafico">

    </div>
</section>

<!-- Modal editar -->
<div class="modal fade" id="ModalEditar" tabindex="-1" aria-labelledby="ModalEditar" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalEditarLabel">Editar Valores</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <label for="valorHora">Valor de Hora</label>
                    <input type="number" name="valorHora" class="form-control" min="0" value="@ultimoValorHora"/>

                    <label for="valorEntrega">Valor de Entrega</label>
                    <input type="number" name="valorEntrega" class="form-control" min="0" value="@ultimoValorEntrega"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button asp-page-handler="EditarValores" type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>