@page
@model Gestor.Pages.PaginaIngresos.IndexModel
@using Producto = Gestor.Modelos.Producto;
@using Ingreso = Gestor.Modelos.Ingresos;

@{
    ViewData["Title"] = "Ingresos";
    List<string> formaVenta = Model.listaFormaVenta;
    List<Producto> listaProductos = Model.listaProductos;
    int ultimoValorHora = Model.ultimoValorHora;
    int ultimoValorEntrega = Model.ultimoValorEntrega;
    IList<Ingreso> lIngresos = Model.listaIngresos;
    int ingresosTotales = 0;
    int ingresosSemanales = 0;
    int vHora = 0,
        vEntrega = 0,
        vVenta = 0;
    DateOnly hoy = DateOnly.FromDateTime(DateTime.Now);
    DateOnly semanaAnterior = hoy.AddDays(-7);
    string productoPopular = Model.productoPopular;

    foreach (Ingreso ingresos in lIngresos) {
        if (ingresos.valor_venta != null && ingresos.valor_venta > 0 && ingresos.borrado != true && ingresos.valor_fijo != true) 
        {
            vHora = ingresos.valor_hora;
            vEntrega = ingresos.valor_hora;
            vVenta = ingresos.valor_venta ?? 0;

            if (ingresos.getFechaCreacionSoloFecha() >= semanaAnterior && ingresos.getFechaCreacionSoloFecha() <= hoy)
            {
                ingresosSemanales += vHora + vEntrega + vVenta;
            }

            ingresosTotales += vHora + vEntrega + vVenta;
        }
    }
}

<div class="ingresos-content">
    <div class="title-box">
        <label class="title-primary text-uppercase">Ingresos</label>
    </div>
    <div class="row">
        <div class="ingresos-variables-box col-xl-6 col-lg-6 col-md-12">
            <form method="post">
                <div class="col-12 row">
                    <div class="col-2">
                        <label class="text-start">
                            Valor Venta :
                        </label>
                    </div>
                    <div class="col-4">
                        <input type="number" name="valorVenta" class="form-control" min="0" />
                    </div>
                </div>
                <div class="col-12 row">
                    <div class="col-2">
                        <label class="text-start">
                            Forma de entrega:
                        </label>
                    </div>
                    <div class="col-4">
                        <select class="form-control" name="formaEntrega">
                            @foreach (var forma in formaVenta)
                            {
                                <option value="@forma">@forma</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-12 row">
                    <div class="col-2">
                        <label class="text-start">
                            Producto vendido:
                        </label>
                    </div>
                    <div class="col-4">
                        <select class="form-control" name="idProducto">
                            <option value="">Seleccione un producto</option>
                            @foreach (var producto in listaProductos)
                            {
                                <option value="@producto.Id">@producto.Nombre @producto.Tamanio CM</option>
                            }
                        </select>
                    </div>
                </div>
                <input type="hidden" name="valorHora" value="@ultimoValorHora" />
                <input type="hidden" name="valorEntrega" value="@ultimoValorEntrega" />

                <button asp-page-handler="GuardarValores" type="submit" class="btn btn-primary">Aceptar</button>
            </form>
        </div>
        <div class="ingresos-fijos-box col-xl-6 col-lg-6 col-md-12">
            <div class="accion-editar text-end">
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#ModalEditar">Editar</a>
            </div>
            <div class="col-12 row">
                <div class="col-2">
                    <label class="text-start">
                        Valor Hora :
                    </label>
                </div>
                <div class="col-4"> 
                    <label>@ultimoValorHora</label>
                </div>
            </div>
            <div class="col-12 row">
                <div class="col-2">
                    <label class="text-start">
                        Valor Entrega :
                    </label>
                </div>
                <div class="col-4">
                    <label>@ultimoValorEntrega</label>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="stadistic-ingresos">
    <div class="info-ingreso">
        <div class="info-box">
            <label>Valor Ventas Totales</label>
            <span>@ingresosTotales</span>
        </div>
        <div class="info-box">
            <label>Valor Ventas Semanales</label>
            <span>@ingresosSemanales</span>
        </div>
        <div class="info-box">
            <label>Producto Popular</label>
            <span>@productoPopular</span>
        </div>
    </div>
    <div class="box-grafico" style="width:600px;">
        <canvas id="graficoTrimestral" width="400" height="200"></canvas>
    </div>
</section>

<!-- Modal editar -->
<div class="modal fade" id="ModalEditar" tabindex="-1" aria-labelledby="ModalEditar" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalEditarLabel">Editar Valores</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <label for="valorHora">Valor de Hora</label>
                    <input type="number" name="valorHora" class="form-control" min="0" value="@ultimoValorHora"/>

                    <label for="valorEntrega">Valor de Entrega</label>
                    <input type="number" name="valorEntrega" class="form-control" min="0" value="@ultimoValorEntrega"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button asp-page-handler="EditarValores" type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    $(document).ready(function () {
         $.ajax({
            url: '/Ingresos/IngresosHistoricos/IngresosTrimestrales',
            method: 'GET',
            success: function (data) {
                const fechas = data.map(i => {
                    const fechaCompleta = new Date(i.fechaCreacion);
                    var dia = String(fechaCompleta.getDate());
                    var mes = String(fechaCompleta.getMonth());
                    var ano = String(fechaCompleta.getFullYear());
                    
                    return `${dia}-${mes}-${ano}`;
                });
                const valores = data.map(i => {
                    var valorHora = i.valor_hora;
                    var valorEntrega = i.valor_entrega;
                    var valorVenta = i.valor_venta;

                    return valorEntrega + valorHora + valorVenta;
                });

                const ctx = document.getElementById('graficoTrimestral').getContext('2d');

                const myChart = new Chart(ctx, {
                    type: 'line', 
                    data: {
                        labels: fechas,
                        datasets: [{
                            label: 'Ingresos Diarios',
                            data: valores,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            },
            error: function (error) {
                console.error('Error al obtener los datos:', error);
            }
        });
    });
</script>