@page
@model Gestor.Pages.PaginaProducto.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalProducto">Agregar</button>
</p>
<div class="d-flex justify-content-center">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Producto[0].Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Producto[0].Tamanio)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Producto)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tamanio)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="modalProducto" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Agregar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NuevoProducto.Nombre" class="control-label"></label>
                        <input asp-for="NuevoProducto.Nombre" class="form-control" />
                        <span asp-validation-for="NuevoProducto.Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NuevoProducto.Tamanio" class="control-label"></label>
                        <input asp-for="NuevoProducto.Tamanio" class="form-control" />
                        <span asp-validation-for="NuevoProducto.Tamanio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Subir Imagen</label>
                        <input type="file" id="producto-imgs" multiple accept="image/jpeg, image/png" class="form-control" />
                        <small class="text-muted">Selecciona hasta 3 imágenes.</small>
                    </div>
                    <div id="imgPreview" class="mt-3"></div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#producto-imgs').on('change', function (event) {
            const maxFiles = 3;
            const files = event.target.files;

            if (files.length > maxFiles) {
                alert(`Has seleccionado más de ${maxFiles} imágenes. Solo se tomarán las primeras ${maxFiles}.`);

                const newFiles = Array.from(files).slice(0, maxFiles);

                const dataTransfer = new DataTransfer();
                newFiles.forEach(file => dataTransfer.items.add(file));
                event.target.files = dataTransfer.files;
            }
        });
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}