@page
@model Gestor.Pages.PaginaProducto.IndexModel
@using Producto = Gestor.Modelos.Producto

@{
    ViewData["Title"] = "Productos";
}
<div class="box-info">
    <div class="head-bar d-flex justify-content-between align-items-center">
        <h5 class="title-primary white-label m-0">Productos</h5>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalProducto"><span class="title-primary">Agregar</span></button>
    </div>
    <div class="body-content py-3">
        @if(Model.listaProductos!= null && Model.listaProductos.Any())
        {
            <div class="row">
                @foreach (Producto producto in Model.listaProductos)
                {
                    <div class="col-xl-4 col-lg-4 col-md-12 producto-info p-0">
                        <div class="box-img d-flex justify-content-center  text-center position-relative p-4">
                            <div class="box-img-color box-shadow">
                                @if (producto.imgPrincipal != null)
                                {                            
                                    <a class="btn btn-secondary btn-patrones" data-id="@producto.Id" data-bs-toggle="modal" data-bs-target="#modalEditarProducto">Editar</a>
                                    <a asp-page="./DetalleProduct" asp-route-id="@producto.Id">
                                        <img src="@producto.imgPrincipal" class="img-portada" alt="Portada" />
                                    </a>   
                                }
                                else
                                {   
                                    <a href="" data-bs-toggle="modal" data-bs-target="#modalEditarProducto">
                                        <img src="~/img/fotoPrueba.png" class="img-portada" alt="Portada" />
                                    </a>
                                }
                                <div class="box-img-text text-center">
                                    <label class="title-primary bold">@producto.Nombre </label>
                                    <span class="text-muted">@producto.Tamanio CM</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        { 
            <h2 class="text-center mt-4">No existen productos...</h2>
        } 
    </div>
</div>

<div class="modal fade" id="modalProducto" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Agregar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label  class="control-label">Nombre del Producto</label>
                        <input type="text" name="nombreProd" class="form-control" />
                        <span asp-validation-for="nombreProd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tamaño</label>
                        <input class="form-control" name="tamanioProd" type="number" min="0" value="0"/>
                        <span asp-validation-for="tamanioProd" class="text-danger"></span>
                    </div>
                    <div class="form-group my-3">
                        <label class="control-label text-muted">La opción de subir imagenes estará habilitada luego de haber creado el producto.</label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEditarProducto" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Editar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-page-handler="EditarProducto" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="idProd" id="idProducto" />
                    <div class="form-group">
                        <label class="control-label">Editar Nombre del Producto</label>
                        <input type="text" name="nombreProd" class="form-control"/>
                        <span asp-validation-for="nombreProd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Editar Tamaño</label>
                        <input class="form-control" name="tamanioProd" type="number" min="0" value="0" />
                        <span asp-validation-for="tamanioProd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Imagen Principal</label>
                        <input type="file" name="imgPrincipal" id="producto-img" accept="image/jpeg, image/png" class="form-control" />
                        <span asp-validation-for="imgPrincipal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Imagen Secundaria</label>
                        <input type="file" name="imgSecundaria" id="producto-img2" accept="image/jpeg, image/png" class="form-control" />
                        <span asp-validation-for="imgSecundaria" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Imagen Terciaria</label>
                        <input type="file" name="imgTerciaria" id="producto-img3" accept="image/jpeg, image/png" class="form-control" />
                        <span asp-validation-for="imgTerciaria" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.btn-patrones').on('click', function () {
            var idProducto = $(this).data('id');
            $('#idProducto').val(idProducto);
        });
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}