@page
@model Gestor.Pages.PaginaProducto.IndexModel
@using Producto = Gestor.Modelos.Producto

@{
    ViewData["Title"] = "Index";
}

<p>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalProducto">Agregar</button>
</p>
<div class="d-flex justify-content-center">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.listaProductos[0].Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.listaProductos[0].Tamanio)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Producto producto in Model.listaProductos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => producto.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => producto.Tamanio)
                    </td>
                    @if (producto.imgPrincipal != null)
                    {
                        <td>
                            <div class="box-img">
                                <img src="@producto.imgPrincipal" class="img-portada" alt="Portada" />
                            </div>
                        </td>
                    }
                    <td>
                        <a asp-page="./Edit" asp-route-id="@producto.Id">Edit</a> |
                        <a asp-page="./DetalleProduct" asp-route-id="@producto.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@producto.Id">Delete</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="modalProducto" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Agregar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label  class="control-label">Nombre del Producto</label>
                        <input type="text" name="nombreProd" class="form-control" />
                        <span asp-validation-for="nombreProd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tamaño</label>
                        <input class="form-control" name="tamanioProd" type="number" min="0" value="0"/>
                        <span asp-validation-for="tamanioProd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Imagen Principal</label>
                        <input type="file" name="imgPrincipal" id="producto-img" accept="image/jpeg, image/png" class="form-control" />
                        <span asp-validation-for="imgPrincipal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Imagen Secundaria</label>
                        <input type="file" name="imgSecundaria" id="producto-img2" accept="image/jpeg, image/png" class="form-control" />
                        <span asp-validation-for="imgSecundaria" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Imagen Terciaria</label>
                        <input type="file" name="imgTerciaria" id="producto-img3" accept="image/jpeg, image/png" class="form-control" />
                        <span asp-validation-for="imgTerciaria" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}